*{
	margin:0;padding:0;
	font-family:Verdana;
	font-size:small;
	color:#696969;
}

.bn{
	border:none;border:0;
}

a{
	color:#436193;
	font-size:small;
	text-decoration:none;
}

div#main{
	width:100%;
}

div#topnav{
	background-image:url('images/topnav_splice.jpg');
	background-repeat:repeat-x;
	height:23px;
	width:100%;
	border-bottom:solid 5px #D3DBDE;
}

div#topnav_inner{
	width: 866px;
	padding: 1px 2px 3px 32px;
	margin: 0 auto 0 auto;
}

div#topnav_inner a{
	color:white;
	text-decoration:none;
	margin-right:25px;
	font-size:small;
}

div#banner_bottom{
	background-color: #D3DBDE;
	height:10px;
	line-height:10px;
}

div#banner{
	height:94px;
	border-top:solid 1px #F2F2F2;
	border-bottom:solid 1px #D2D2D2;
	background-image:url('images/banner_splice.jpg');
}

div#banner_inner{
	padding:23px;
	width:854px;
	margin: 0 auto;
}

div#mainnav{
	height:39px;
	line-height:34px;
	background-color: #F2F2F2;
	border-bottom:solid 1px #CCC4C2;
}

div#bigsection{
	background-color:#446392;
	height:237px;
	border-bottom:solid 10px #D3DBDE;

}

div#bigsection_image{
	width:900px;
	height:237px;
	background-image:url('images/bigsection_home.jpg');
	margin: 0 auto;
}

ul#mainnav{
	width:860px;
	padding-left:40px;
	margin: 0 auto;
}

ul#mainnav li{
	display:block;
	float:left;
	padding: 0 20px 0 20px;
}

ul#mainnav li.current{
	display:block;
	float:left;
	background-color:#D5DBDF;
}

ul#mainnav li a{
	color:#696969;
	text-decoration:none;
}

div#content{
	font-family:Roman;
	width:100%;
	border-bottom:solid 47px #D3DBDE;
	height:413px;
}

div#content_inner{
	padding:15px;
	width:860px;
	height:413px;
	padding-left:40px;
	margin: 0 auto;
	position:relative;
}

div#content_inner h1{
	text-transform:uppercase;
	color:#999999;
	font-size:medium;
}

div#content_left{
	margin-top:15px;
}

div#content_left ul li{
	display:block;
	padding: 3px 0 3px 0;
}
div#content_left ul li a{
	color:#436193;
	font-size:small;
	text-decoration:none;
}

div#content_block{
	position:absolute;
	height:370px;
	width:750px;
	bottom:15px;
	right:0px;
	background-color:white;
}

div#contact{
	border-top:dashed 1px black;
	border-left:dashed 1px black;
	position:absolute;
	bottom:0;right:0;
	padding:8px;
}

div#footer{
	height:102px;
	width:100%;
	background-image:url('images/footer_splice.jpg');
	margin: 0 auto;
	border-top:solid 1px #F2F2F2;
	border-bottom:solid 1px #D2D2D2;
}

div#footer_inner{
	width:860px;
	padding-left:40px;
	margin: 0 auto;
	position:relative;
}

div#product_package{
	position:absolute;
	background-image:url('images/package.jpg');
	right:50px;
	top:-24px;
	width:108px;
	height:137px;
}

div#site_bottom{
	height:47px;
	background-color:#D3DBDE;
	width:100%;
}

div#site_bottom_inner{
	width:860px;
	padding-left:40px;
	margin: 0 auto;
	padding: 12px 12px 12px 40px;
	line-height:24px;
	vertical-align:middle;
	font-size:xx-small;
	color:#436193;
}