{% extends "truesite/true_base.html" %}

{% block middle_banner %}
<div id="middle_banner_home">
	<div id="banner_home"></div>
</div>
{% endblock %}

{% block content %}
<h1>Ecommerce for the Evolved</h1>
                    <div id="content_block">
                        
                        <div id="contact">
                            For a complete listing of features, please <a href="/contact/">contact us</a>
                        </div>
                    </div>
                    <div id="content_left">
                        <ul>
                            <li>
                                <a href="">products</a>
                            </li>
                            <li>
                                <a href="">marketing</a>
                            </li>
                            <li>
                                <a href="">integration</a>
                            </li>
                            <li>
                                <a href="">admin</a>
                            </li>
                            <li>
                                <a href="">design</a>
                            </li>
                            <li>
                                <a href="">shipping</a>
                            </li>
                            <li>
                                <a href="">payment</a>
                            </li>
                            <li>
                                <a href="">analytics</a>
                            </li>
                        </ul>
                    </div>
{% endblock %}